/* CREATE VIEW (POPUP TO CRATE TASK) */

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-pop {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000007a;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.600) 0%, rgba(0, 0, 0, 0.600) 48%, rgba(105, 105, 105, 0.600) 100%);
    box-shadow: 
        0 6px 12px rgba(0, 0, 0, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.3),
        inset 0 1px 1px rgba(255, 255, 255, 0.8),
        inset 0 -2px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px black;
    border-radius: 24px;
    width: 20rem;
    position: absolute;
    padding: 2rem;
    top: 16%;
    right: 2%;
    z-index: 8;
}
.pup-title b {
    color: #fff;
    font-size: 33px;
    font-weight: 900;
}
.create-pop-date {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff6cd;
    border: solid 1px black;
    border-radius: 24px;
    width: 420px;
    position: absolute;
    padding: 2rem;
    top: 10%;
    right: 2%;
}
.create-pop b {
    font-size: 32px;
    margin-bottom: 8px;
}
.create-pop p {
    font-size: 18px;
}
#title-set, #date-set, #time-set {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 18px;
    height: 100%;
}
#desc-set {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 18px;
    height: 6rem;
    resize: none;
}
.pup-buttons {
    border: none;
    border-radius: 24px;
    font-size: 22px;
    padding: 12px;
    margin-top: 12px;
    width: 100%;
    transition: transform 0.15s linear;
}
.pup-buttons:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.pup-title {
    margin-bottom: 12px;
}
.flex-hor {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.list-flex-hor {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: start;
    align-items: start;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}
.list-flex-hor p, .time-list-set{
    color: #fff;
    font-weight: 700;
}
.time-list-set {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
#close-new-popup {
    width: 90%;
    height: 50%;
    font-weight: bolder;
    border-radius: 18px;
}
#save-changes-new-popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .create-pop {
        top: 12%;
        width: 15rem;
    }
    .pup-title b{
        font-size: 28px;
    }
    .list-flex-hor {
        flex-direction: column;
    }
    .list-flex-hor p{
        font-size: 18px;
    }
    #save-changes-new-popup {
        flex-direction: column;
    }
}