* {
  margin: 0;
  padding: 0 auto;
  font-family: sans-serif;
}
body {
    background-color: #fff6cd;
    overflow-x: hidden;
}
.center-ver{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
  position: fixed;
  bottom: 0;
}